.code-results-container {
    display: grid;
    grid-template-columns: 0.5fr 4fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.line-numbers {
    grid-area: 1 / 1 / 2 / 2;
}

.code-results {
    grid-area: 1 / 2 / 2 / 3;
}